<div class="container p-2">
  <h4 class="p-2">ジャンル一覧・追加</h4>
  <div class="row">
    <div class="col">
      <%= form_with model: @genre,url: genres_path, local:true do |f| %>
        <%= f.label :genre, "ジャンル名" %>
        <%= f.text_field :name, placeholder: "ジャンル名" %>
        <%= f.submit '新規登録', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-lg-6">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col">ジャンル</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_genre_path(genre), class:"btn btn-success" %> </td>
            </tr>

          <% end %>
        </tbody>
      </table>
      <%= link_to 'javascript:history.back()' do %>
        <button>戻る</button>
      <% end %>
    </div>
  </div>
</div>