<div class="container">
  <h2>新規会員登録</h2>
  <div class="row mx-auto">
    <div class="form">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :name, autofocus: true, :placeholder => "ユーザー名", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "example@gmail.com", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-outline-success" %>
      </div>
    </div>
  <% end %>
  </div><br>
  <div class="row">
    <p>すでに登録済みの方は</p>
    <%= link_to "こちら", new_user_session_path %>
    <span>からログインしてください</span>
  </div>
</div>


