<% if @users.exists? %>
<div class="container p-5">
  <div class="row">
    <div class="col">
      <h2>フォローリスト</h2>
    </div>
  </div>
  <div class="row p-5">
    <div class="col">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col-2">ユーザー名</th>
            <th scope="col-2">レベル</th>
            <th scope="col-2">投稿数</th>
            <th scope="col-2">フォロワー数</th>
            <th scope="col-2">フォロー数</th>
            <th scope="col-2">フォローする</th>
            <th scope="col-2">登録状態</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%#= attachment_image_tag user.image, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
              <%= link_to user.name, user_path(user.id) %>
            </td>
            <td><%= user.level %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.followers.count %></td>
            <td><%= user.followings.count %></td>
            <td>
              <% if current_user.following?(user) %>
                <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-primary" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %>
              <% end %>
            </td>
            <% if user.is_active == true %>
            <td class="text-success">アクティブ</td>
             <% else %>
            <td class="text-danger">退会済</td>
            <% end %>
            <td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
<div class="container p-5">
  <div class="row">
    <div class="col">
      <h2>フォロワーはいません</h2>
    </div>
  </div>
</div>
<% end %>