<div class="container p-5">
  <div class="row">
    <div class="col">
      <h2>ユーザー一覧</h2>
    </div>
    <div class="col">
      <%= search_form_for @q do |f| %>
      <%= f.label :name, "キーワード検索" %>
      <%= f.search_field :name_cont, placeholder: "ユーザー名で検索" %>
      <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class="row p-5">
    <div class="col">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col-2"><%= sort_link(@q, :name, "名前順") %></th>
            <th scope="col-2"><%= sort_link(@q, :level, "レベル順") %></th>
            <th scope="col-2"><%= sort_link(@q, :post, "投稿数順") %></th>
            <th scope="col-2"><%= sort_link(@q, :post, "フォロワー数順") %></th>
            <th scope="col-2">フォロー</th>
            <th scope="col-2">ユーザー情報</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>

            <td>
              <%#= attachment_image_tag user.image, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
              <%= link_to user.name, user_path(user.id) %>
            </td>
            <td><%= user.level %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.followers.count %></td>
            <td>
              <% if signed_in? && user != current_user %>
                <% if current_user.following?(user) %>
                  <%= render 'relationships/unfollow_button', user: user %>
                <% else %>
                  <%= render 'relationships/follow_button', user: user %>
                <% end %>
              <% end %>
            </td>
            <% if user.is_active == true %>
            <td class="text-success">アクティブ</td>
             <% else %>
            <td class="text-danger">退会済</td>
            <% end %>
            <td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>