<div class="container p-5">
  <div class="row">
    <div class="col">
      <h2>ユーザー一覧</h2>
    </div>
    <div class="col">
      <%= search_form_for @q do |f| %>
      <%= f.label :name, "キーワード検索" %>
      <%= f.search_field :name_cont, placeholder: "ユーザー名で検索" %>
      <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class="row p-5">
    <div class="col">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>名前</th>
            <th>レベル</th>
            <th>投稿数</th>
            <th>フォロワー数</th>
            <th>フォロー数</th>
            <th>フォローorフォローを外す</th>
            <th>ユーザー情報</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag user, :image, size: "36x36", format: 'jpeg', fallback: "no_image.jpg" %>
              <%= link_to user.name, user_path(user.id) %>
            </td>
            <td><%= user.level %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.followers.count %></td>
            <td><%= user.followings.count %></td>
            <td>
              <% if signed_in? && user != current_user %>
                <% if current_user.following?(user) %>
                  <%= render 'relationships/unfollow_button', user: user %>
                <% else %>
                  <%= render 'relationships/follow_button', user: user %>
                <% end %>
              <% else %>
                <p>マイアカウント</p>
              <% end %>
            </td>
            <% if user.is_active == true %>
            <td class="text-success">アクティブ</td>
             <% else %>
            <td class="text-danger">退会済</td>
            <% end %>
            <td>
          </tr>
          <% end %>
          <%= paginate @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>