<div class="container p-5">
  <h4>ユーザー詳細ページ</h4>
  <div class="row p-5">
    <div class="col">
      <%= attachment_image_tag @user, :image, size: "200x200", format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle" %>
      <p>一言コメント</p>
      <%= simple_format(@user.comment) %>
      <% if @user == current_user %>
      <%= link_to "編集する", edit_user_path(@user),class:"btn btn-outline-secondary m-3" %>
      <% end %>
    </div>
    <div class="col">
      <table class="user-status table table-striped text-center">
        <tbody>
          <tr>
            <th scope="row">ユーザー名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th scope="row">ユーザーレベル</th>
            <td><%= @user.level %></td>
          </tr>
          <tr>
            <th scope="row">総獲得経験値</th>
            <td><%= @user.exp %></td>
          </tr>
          <tr>
            <th scope="row">投稿数</th>
            <td><%= @user.posts.count %></td>
          </tr>
          <tr>
            <th scope="row">フォロー数</th>
            <td><%= link_to @user.followings.count, user_followings_path(@user) %></td>
          </tr>
          <tr>
            <th scope="row">フォロワー数</th>
            <td><%= link_to @user.followers.count, user_followers_path(@user) %></td>
          </tr>
          <tr>
            <% if signed_in? && @user != current_user %>
              <% if current_user.following?(@user) %>
              <th></th>
              <td id="follow-button-<%= @user.id %>"><%= render 'relationships/unfollow_button', user: @user %></td>
              <% else %>
              <th></th>
               <td id="follow-button-<%= @user.id %>"><%= render 'relationships/follow_button', user: @user %></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <th scope="row">登録状態</th>
            <% if @user.is_active == true %>
            <td>アクティブユーザー</td>
            <% else %>
            <td>退会済みユーザー</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-5">
    <div class="col">
      <h4>投稿一覧（<%= @posts.total_count %>件）</h4>
      <table class="table column_table table-borderless table-striped">
        <thead>
          <tr>
            <th class="title col-4">タイトル</th>
            <th class="genre col-2">ジャンル</th>
            <th class="post-day col-2">投稿日</th>
            <th class="good col-2">いいね</th>
            <th class="comment col-2">コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td data-title="ジャンル"><%= post.genre.name %></td>
            <td data-title="投稿日"><%= post.created_at.strftime('%Y/%m/%d') %></td>
            <td data-title="いいね"><%= post.goods.count %><i class="fas fa-heart pl-2"></i></td>
            <td data-title="コメント"><%= post.comments.count %>件</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
  <% if @user == current_user %>
  <div class="row p-5">
    <div class="col">
      <h4>お気に入り（<%= @favorite_list.total_count %>件）</h4>
      <table class="table column_table table-borderless table-striped">
        <thead>
          <tr>
            <th class="title col-4">タイトル</th>
            <th class="genre col-2">ジャンル</th>
            <th class="post-day col-2">投稿日</th>
            <th class="good col-2">いいね</th>
            <th class="comment col-2">コメント</th>
          </tr>
          </tr>
        </thead>
        <tbody>
          <% @favorite_list.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td data-title="ジャンル"><%= post.genre.name %></td>
            <td data-title="投稿日"><%= post.created_at.strftime('%Y/%m/%d') %></td>
            <td data-title="いいね"><%= post.goods.count %><i class="fas fa-heart pl-2"></i></td>
            <td data-title="コメント"><%= post.comments.count %>件</td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @favorite_list %>
    </div>
  </div>
  <% end %>
</div>