<div class="jumbotron jumbotron-extend">
  <div class="container-fluid row">
    <div class="col-6 text-bold">
      <h1>Share Triviaへようこそ<span><i class="fas fa-book-reader"></i></span></h1>
      <p>Share Triviaは雑学の共有をするアプリです。</p>
      <p>雑学を投稿することで経験値が貯まり、レベルアップすることができます。</p>
      <p>このアプリを通して学んだ雑学を周りの人たちとのコミュニケーションに</p>
      <p>役立てていただけたら幸いです。</p>
    </div>
    <% if user_signed_in? %>
    <p class="col-3 d-flex align-items-center">お帰りなさい！<%= current_user.name %>さん！</p>
    <table class="col-3">
      <tr>
        <th>マイページへ <i class="far fa-hand-point-right"></i></th>
        <td><%= link_to attachment_image_tag(current_user, :image, :fill, 100, 100, fallback: "no_image.jpg", class:"rounded-circle m-2"), user_path(current_user)%></td>
      </tr>
      <tr>
        <th>雑学を探そう <i class="far fa-hand-point-right"></i></th>
        <td><%= link_to image_tag("dash.jpeg",size: "100x100", class:"rounded-circle m-2 border"), posts_path %></td>
      </tr>
    </table>

    <% else %>
    <div class="col p-4">
      <table>
        <tr>
          <th>新規登録はこちら <i class="far fa-hand-point-right"></i></th>
          <td><%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary col" %></td>
        </tr>
        <tr>
          <th>ログインはこちら <i class="far fa-hand-point-right"></i></th>
          <td><%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-success col" %></td>
        </tr>
      </table>
      <br>
      <div class="row mx-auto">
        <table>
          <tr>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Google</th>
          </tr>
          <tr>
            <td>Facebookで登録</td>
            <td>Twitterで登録</td>
            <td>Googleで登録</td>
          </tr>
          <tr>
            <td>Facebookでログイン</td>
            <td>Twitterでログイン</td>
            <td>Googleでログイン</td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>