<div class="container">
  <h2>ログイン</h2>
  <div class="row mx-auto">
    <div class="form">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-outline-success", class:"form-control" %>
      </div>
      <% end %>
    </div>
  </div><br>
  <div class="row">
    <p>会員登録がお済みでない方は</p>
    <%= link_to "こちら", new_user_registration_path %>
    <span>から新規登録を行ってください</span>
  </div>
</div>